*{
    color:white;


}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl-3lXl18E0sQCgbxSi72jOXnEFF-dbwWTuA&s');
    background-repeat: no-repeat;
    background-position-y: 70px;
    background-size: 700px 200px;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}


#farm {
    top: 200px;
    left: 270px;
    position: absolute;
    color:black;
    background-color:pink;

}
#instructionsLink{
    background-color: black;
    top:50px;
    margin-right: 1385px;
}

.invisible{
    visibility:hidden;
}
.visible{
    visibility:visible;
}
#shopText{
    color:black;
    top: 50px;
    right: 200px;
    position: absolute;
}
div.relative{
    color:black;
    position: relative;
    width: 400px;
    height: 200px;
    left: 1100px;
    border: 3px solid #73AD21;
}
div.inner1{
    color:black;
    position: relative;
    top:  -20px;
    right: -295px;
    width: 100px;
    height: 50px;
    text-align:center;
    border: 3px solid #151b0e;
    margin-bottom: 10px;
  }
 div.inner3{
    right: 30px;
    color:black;
    border: solid red;
    position: absolute;

  }
div.inner2{
    color:black;
    position: absolute;
    top:  50px;
    right: 0px;
    width: 100px;
    height: 50px;
    text-align:center;
    border: 3px solid rgb(223, 11, 47);
    margin-bottom: 10px;
  }

#longSwordImage{
    height:100%;
    width:100%;
    object-fit: contain;

}
#buyButton1{
    right:0px;
    background-color: rgb(223, 11, 47);
}
