body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
  }


#map-grid-container {
  display: grid;
  grid-template-columns: repeat(30, 5vh); /* 30 columns, each tile is 52px wide */
  grid-template-rows: repeat(20, 5vh);    /* 20 rows, each tile is 52px high */
  gap: 0;
  width: max-content;
  margin: auto;
}

.tile {
  width: 5vh;
  height: 5vh;
  background-color: #cccccc;
  border: 1px solid #aaa;
  position: relative;  /* Add relative positioning */
  z-index: 1;
}


.tile-1 {
  background-color: rgb(57, 39, 0);    /* Example: Tile ID 1 could be red */
}

.tile-2 {
  background-color: green;
}
.tile-3 {
  background-color: rgb(107, 193, 255);
}

.tile-4 {
  background-color: rgb(8, 63, 15);
}
.tile-5 {
  background-color: rgb(60, 49, 10);
}

.tower {
  width: 4.5vh; /* example size */
  height: 4.5vh; /* example size */
  position: absolute;
  z-index: 10;
}

.bullet {
  width: 1vh; /* example size */
  height: 1vh; /* example size */
  position: absolute;
  z-index: 20;
}

.enemy {
  width: 3vh; /* example size */
  height: 3vh; /* example size */
  position: absolute;
  z-index: 15;
}