body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  #gameCanvas {
    border: 1px solid #333;
  }
  #duck1{
    position: absolute;
    top:  1600px;
    right: 2350px;
    width: 100px;
    height: 64px;
  }
  
  